<%= render 'shared/nav' %>
<h1 class="text-center">供应商管理</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <%= link_to "新增供应商", new_supplier_path, class: 'btn btn-primary'  %>
  <%@suppliers.each do |supplier| %>
    <div class="card">
      <div class="card-body">
        <a href="<%= supplier_path(supplier) %>">
          <h5 class="card-title"><%= supplier.name %></h5>
          <a href="<%= edit_supplier_path(supplier.id) %>" class="card-link mb-3">编辑</a>
        </a>
      </div>
    </div>
  <% end %>
  </div>
</div>
